.farsi-text {
  font-family: "Vazir";
}
* {
  font-family: "Vazir" !important;
}
/* Variables ----------------------------------------------------------------- */
:root {
  --clr-primary: #0056b3;
  --clr-secondary: #e8f0fe;
  --clr-accent: #33cc99;
  --clr-grey: #f5f5f5;
  --clr-white: #ffffff;
  --clr-black: #000000;
}
